#container {
    width: 360px;
    margin: 0 auto;
    background: #D1D1D1;
}

.completed {
    color: grey;
    text-decoration: line-through;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

